<img src="https://banner2.cleanpng.com/20181128/cbr/kisspng-python-programming-basics-for-absolute-beginners-michigan-python-user-group-5-jul-2-18-1713916787253.webp" width="200">
</center><br>
Jenis cell di <b>Jupiter Note Book</b> ada 2
<ol>
    <li>Mark down (M)</li>
    <li>Code (Y)</li>
</ol>
<hr>

Cara menambah cell ada 2:
<ul>
    <li> Above (A)</li>
    <li> Below (B)</li>
</ul>

<table>
    <tr>
        <th>Perintah</th>
        <th>Keterangan</th>
    </tr>
    <tr>
        <td>ctrl + enter</td>
        <td>Running dan fokus di cell</td>
    </tr>
    <tr>
        <td>Shift + enter</td>
        <td>Running dan fokus di cell</td>
    </tr>
</table>

In [1]:
print("PYTHPON IS VERY EASY")
data = 5
data2 = 10
print(data + int(data2))
print("DEKLARASIKAN VARIABEL 'A'")
data2
data + 8364783254
data2 + 94056893465892

PYTHPON IS VERY EASY
15
DEKLARASIKAN VARIABEL 'A'

94056893465902

<img src="https://banner2.cleanpng.com/20181128/cbr/kisspng-python-programming-basics-for-absolute-beginners-michigan-python-user-group-5-jul-2-18-1713916787253.webp" width="200">
</center>

In [10]:
name = "Daniel Pasha Al-Kafi"
age = 20
address, province = "JL. Raya Cisaat", "7413412"
pythonscore = 100.0
isUnmarried = True

print('nama:',name)
print('umur:',age)
print('alamat:', address)
print('provinsi:',province)
print('nilai:',pythonscore)
print('status:',isUnmarried)

nama: Daniel Pasha Al-Kafi
umur: 20
alamat: JL. Raya Cisaat
provinsi: 7413412
nilai: 100.0
status: True

In [9]:
print("Tipe Data (nama): ",type(name))
print("Tipe Data (age): ",type(age))
print("Tipe Data (address): ",type(address))
print("Tipe Data (province): ",type(province))
print("Tipe Data (pythonscore): ",type(pythonscore))
print("Tipe Data (isUnmarried): ",type(isUnmarried))

Tipe Data (nama):  <class 'str'>
Tipe Data (age):  <class 'int'>
Tipe Data (address):  <class 'str'>
Tipe Data (province):  <class 'str'>
Tipe Data (pythonscore):  <class 'float'>
Tipe Data (isUnmarried):  <class 'bool'>

In [22]:
#Casting atau konfersi tipe data

strToint = int(province)
strTofloat = float(province)
strTobool = bool(province)
print(strToint,strTofloat,strTobool)

intTostr = str(age)
intTofloat = float(age)
intTobool = bool(age)
print(intTostr,intTofloat,intTobool)

floatTostr = float(pythonscore)
floatToint = int(pythonscore)
floatTobool = bool(pythonscore)
print(floatTostr,floatToint,floatTobool)

boolTostr = str(isUnmarried)
boolToint = int(isUnmarried)
boolTofloat = float(isUnmarried)
print(boolTostr,boolToint,boolTofloat)

7413412 7413412.0 True
20 20.0 True
100.0 100 True
True 1 1.0

In [26]:
#String adalah kumpulan dari beberapa karakter dan immuntable
city = 'Sukabumi'
panjang = len(city)
print(city[5])
print(len(city))
print(city[panjang - 1])

u
8
i

In [38]:
desimal = 500
biner = 0b111111111
octal = 0o377
hexa = 0xff

print("Nilai Desimal:",desimal)
print("Nilai Biner:",biner)
print("Nilai Octal:",octal)
print("Nilai Hexa:",hexa)

print("Biner dari",desimal,":",bin(desimal))
print("Octal dari",desimal,":",oct(desimal))
print("Hexadesimal dari",desimal,":",hex(desimal))

Nilai Desimal: 500
Nilai Biner: 511
Nilai Octal: 255
Nilai Hexa: 255
Biner dari 500 : 0b111110100
Octal dari 500 : 0o764
Hexadesimal dari 500 : 0x1f4
Desimal dari 511 : 511

In [54]:
#Tipe data colection
cities = ["Sukabumi","Malang","Bandung","Surabaya"]  #List
print(cities)
print(cities[0])
print(cities[len(cities)-1])
print(cities[1])


hobbies = ("Work Out","Baca Manga","Anime")
print(hobbies)
print(hobbies[1])

studentData = {
    "name" : "Daniel",
    "age" : 20,
    "address" : {
        "street" : "JL Raya Cisaat",
        "number" : "48",
        "province" : "Kab. Sukabumi"
    }
}

studentList = [
    {
        "name" : "Daniel",
        "age" : 20,
        "address" : {
        "street" : "JL Raya Cisaat",
        "number" : "48",
        "province" : "Kab. Sukabumi"
    }
},
{
        "name" : "Apa Aja",
        "age" : 32,
        "address" : {
        "street" : "JL Raya Cisaat",
        "number" : "846",
        "province" : "Kab. Sukabumi"
    }
}
        
]

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentList[1])

['Sukabumi', 'Malang', 'Bandung', 'Surabaya']
Sukabumi
Surabaya
Malang
('Work Out', 'Baca Manga', 'Anime')
Baca Manga
{'name': 'Daniel', 'age': 20, 'address': {'street': 'JL Raya Cisaat', 'number': '48', 'province': 'Kab. Sukabumi'}}
20
Kab. Sukabumi
{'name': 'Apa Aja', 'age': 32, 'address': {'street': 'JL Raya Cisaat', 'number': '846', 'province': 'Kab. Sukabumi'}}