<h4>For Variabel in Collection</h4>

In [2]:
buah = ["Apel", "Pisang", "Semangka", "Nanas"]
for buah in buah:
    print(f"Nama Buah :{buah}")

Nama Buah :Apel
Nama Buah :Pisang
Nama Buah :Semangka
Nama Buah :Nanas

In [12]:
#Contoh penggunaan
#Kelas TI24F punya data nilai pemrograman Python 80,100,90,70,70,50,40
#Carilah niali rata-rata nilai pemrograman Python di kelas TI24F

Nilai_Python = [80,100,90,70,70,50,40]
total = 0
for nilai in Nilai_Python:
    total += nilai

rata2 = total/len(Nilai_Python)
print(f"Nilai Rata-Rata: {rata2}")

Nilai Rata-Rata: 71.42857142857143

In [14]:
#Enumerate
Bulan = ["Jan", "Feb", "Mar", "Apr", "Mei", "Juni", "Juli", "Agus", "Sep"]
for i, m in enumerate(Bulan):
    print(f"{i} : {m}")

0 : Jan
1 : Feb
2 : Mar
3 : Apr
4 : Mei
5 : Juni
6 : Juli
7 : Agus
8 : Sep

In [24]:
kampus = input("Masukan Nama Kampus")
listVokal = ["a", "i", "u", "e", "o", "A", "I", "U", "E", "O"]
total = 0
isVokal = ""
for karakter in kampus:
    if karakter in listVokal:
        total +=1
        isVokal = "Huruf Vokal"
    else:
        isVokal = "Bukan Huruf Vokal"
    print(f"{karakter} adalah {isVokal} | Total: {total}") #Berapa Banyak Huruf Vokal "a,i,u,e,o"
print(f"Jumlah Vokal Adalah: {total}")

Masukan Nama Kampus NuSA PutRa UniVERsiTY

N adalah Bukan Huruf Vokal | Total: 0
u adalah Huruf Vokal | Total: 1
S adalah Bukan Huruf Vokal | Total: 1
A adalah Huruf Vokal | Total: 2
  adalah Bukan Huruf Vokal | Total: 2
P adalah Bukan Huruf Vokal | Total: 2
u adalah Huruf Vokal | Total: 3
t adalah Bukan Huruf Vokal | Total: 3
R adalah Bukan Huruf Vokal | Total: 3
a adalah Huruf Vokal | Total: 4
  adalah Bukan Huruf Vokal | Total: 4
U adalah Huruf Vokal | Total: 5
n adalah Bukan Huruf Vokal | Total: 5
i adalah Huruf Vokal | Total: 6
V adalah Bukan Huruf Vokal | Total: 6
E adalah Huruf Vokal | Total: 7
R adalah Bukan Huruf Vokal | Total: 7
s adalah Bukan Huruf Vokal | Total: 7
i adalah Huruf Vokal | Total: 8
T adalah Bukan Huruf Vokal | Total: 8
Y adalah Bukan Huruf Vokal | Total: 8
Jumlah Vokal Adalah: 8

In [30]:
#lOOPING LIST COMPERHANSION
data = [1,2,3,4,5]
pangkat = [x**2 for x in data]
print(pangkat)

[1, 8, 27, 64, 125]

In [36]:
#RANGE
for i in range(10):
    print(f"Nilai i Adalah: {i}")

Nilai i Adalah: 0
Nilai i Adalah: 1
Nilai i Adalah: 2
Nilai i Adalah: 3
Nilai i Adalah: 4
Nilai i Adalah: 5
Nilai i Adalah: 6
Nilai i Adalah: 7
Nilai i Adalah: 8
Nilai i Adalah: 9

In [40]:
for j in range(5,10):
    print(f"Nilai j Adalah: {j}")

In [48]:
#CEK BILANGAN PRIMA ATAU BUKAN PRIMA
bilangan = int(input("Isikan Bilangan:"))
faktor = 0
for i in range (1, bilangan+1):
    if bilangan % i == 0:
        faktor +=1
if faktor ==2:
    print(f"{bilangan} adalah Bilangan Prima")
else:
    print(f"{bilangan} adalah Bukan Bilangan Prima")

Isikan Bilangan: 7

7 adalah Bilangan Prima

In [50]:
#FAKTORIAL
#3! = 3 * 2 * 1 = 6
#4! = 4 * 3 * 2 * 1 = 24
total = 1
bilangan = int(input("Isikan Bilangan: "))
for i in range(1, bilangan+1):
    total *= i
    print(f"{bilangan}! = {total}")

Isikan Bilangan:  5

5! = 1
5! = 2
5! = 6
5! = 24
5! = 120

In [58]:
#1 -2 3 -4 5 -6 7 -8 9 -10
bilangan = int(input("Isikan Bilangan: "))
tanda = 1
for i in range(1, bilangan+1):
    result = tanda * i
    print(f"{result} ", end='')
    tanda *= -1

Isikan Bilangan:  10

1 -2 3 -4 5 -6 7 -8 9 -10

In [64]:
kursiBioskop = ["L", "P", "P", "L", "L", "P", "L"]
#HITUNG JUMLAH PENONTON LAKI-LAKI
#HITUNG HUMLAH PENONTON PEREMPUAN
totalLaki = 0
for jenis in kursiBioskop:
    if jenis=="L":
        totalLaki +=1
print(f"Jumlah Penonton Laki-Laki: {totalLaki}")
print(f"Jumlah Penonton Perempuan: {len(kursiBioskop)-totalLaki}")

Jumlah Penonton Laki-Laki: 4
Jumlah Penonton Perempuan: 3

In [66]:
#HITUNG JUMLAH ORANG YANG KEMUNGKINAN BERPASANGAN
kursi = ["L", "P", "P", "L", "L", "P", "L"]
couple = 0
for i in range(len(kursi)-1):
    if kursi[i] != kursi[i+1]:
        couple+=1
print(f"Jumlah Couple: {couple}")

Jumlah Couple: 4

In [70]:
data = {
    "fnama" : "Daniel",
    "lnama" : "Robi"
}
for key,value in data.items():
    print(f"{key} : {value}")

fnama : Daniel
lnama : Robi

In [ ]:
tahu = [10, 10, 10, 10, 10, 10]
#Harga 1 tahu = 2000
#Jika ada orang membeli  15
# Total Harga = 30000
#[0,5,10,10,10,10]