<h1>Operator Arimatika</h1>

In [4]:
x = input("Apel milik Budi:")
y = input("Apel milik Teman:")
z = input("Apel tambahan Budi:")
x = int(x)
y = int(y)
z = int(z)
hasilbagi = x / y
tambahan = x + z
print("Hasil Bagi",x,"/",y,"=",hasilbagi)
print("Hasil tambahan",x,"+",z,"=",tambahan)

Apel milik Budi: 12
Apel milik Teman: 4
Apel tambahan Budi: 8

Hasil Bagi 12 / 4 = 3.0
Hasil tambahan 12 + 8 = 20

<h1>Operator Perbandingan</h1>

In [7]:
Siti = 160
Andi = 165

print(Siti,"=",Andi,Siti==Andi)
print(Siti,"!=",Andi,Siti!=Andi)
print(Siti,">",Andi,Siti>Andi)
print(Siti,"<",Andi,Siti<Andi)
print(Siti,">=",Andi,Siti>=Andi)
print(Siti,"<=",Andi,Siti<=Andi)

160 = 165 False
160 != 165 True
160 > 165 False
160 < 165 True
160 >= 165 False
160 <= 165 True

<h1>Operator Logika</h1>

In [14]:
Cuaca_cerah = input("Apakah cuaca cerah? (True/False):")
PR_selesai = input("Apakah PR selesai? (True/False):") 
if Cuaca_cerah == "True" and PR_selesai == "True":
    budibisabermain = "boleh"
else:
    budibisabermain = "jangan"
print("Apakah Budi bisa bermain? :",budibisabermain)

Apakah cuaca cerah? (True/False): True
Apakah PR selesai? (True/False): True

Apakah Budi bisa bermain? : boleh

<h1>Operator Bitwise</h1>

In [17]:
num_1 = 6
num_2 = 3

print(num_1 & num_2)
print(num_1 | num_2)
print(num_1 ^ num_2)

2
7
5

<h1>Operator Penugansan</h1>

In [20]:
UangSaldo = 50000

print("Seorang siswa memiliki uang saldo sebanyak",UangSaldo)
UangSaldo += 20000
print("Lalu mengisi uang saldo sebanyak Rp.20000, total uang saldp menjadi",UangSaldo)
UangSaldo -= 30000
print("Lalu membeli paket data swharga Rp.30000, total uang saldo menjadi",UangSaldo)

Seorang siswa memiliki uang saldo sebanyak 50000
Lalu mengisi uang saldo sebanyak Rp.20000, total uang saldp menjadi 70000
Lalu membeli paket data swharga Rp.30000, total uang saldo menjadi 40000

<h1>Operator keanggotaaan</h1>

In [23]:
peserta_lomba = ["Andi", "Budi", "Citra", "Dewi" ]
temukan = "Eka"
print(temukan in peserta_lomba)

kalimat = "Saya suka belajar Python"
temukan = "Python"
print(temukan in kalimat)

False
True

<h1>Operator Identitas</h1>

In [26]:
x = 5
y = 5
print("id variabel x adalah",id(x))
print("id variabel y adalah",id(y))
print("Apakah x sama dengan y?",x is y)

list_1 = ["2", "3", "5", "7", "9"]
list_2 = ["2", "3", "5", "7", "9"]
hasil = list_1 is list_2
print("Apakah kedua list tersebut mengacu ke objek yang sama?",hasil)

id variabel x adalah 140713101306424
id variabel y adalah 140713101306424
Apakah x sama dengan y? True
Apakah kedua list tersebut mengacu ke objek yang sama? False

<h1>Operator Ternary</h1>

In [31]:
x = int(input("Nilai x:"))
y = 100
islebihtinggi = "Nilai x lebih besar dari 100" if x > y else "Nilai x lebih kecil dari 100"
print(islebihtinggi)

Nilai x: 50

Nilai x lebih kecil dari 100

In [33]:
x = int(input("Nilai matkul:"))
y = 70
islulus = "Lulus" if x > y else "Tidak Lulus"
print(islulus)

Nilai matkul: 70

Tidak Lulus